@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, forest;
}

:root {
  /* color-scheme: dark; */
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: hsl(var(--b1));
  color: hsl(var(--bc));
  font-family: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
}

.textarea-ghost:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
  background: transparent;
}